
@using System.Data

@model Back_End.Models.FormCrearSesionAIR

@{
    Layout = null;
    ViewBag.Title = "CrearSesionAIR";
    HtmlHelper.ClientValidationEnabled = ViewBag.Validacion;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Software DAIR</title>
    <link rel="stylesheet" href="~/styles/sesiones.css">
    <link rel="shortcut icon" href="~/src/logo.png">
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="ext/fa/css/all.min.css">
    <!-- JavaScript requerido -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</head>
<header>
    <nav class="navbar">
        <div class="container-fluid">
            <h5 class="navbar--tittle"> Crear sesión AIR</h5>
        </div>
    </nav>
</header>

<body>
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="search--container">
            @using (Html.BeginForm("CrearSesionAIR", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <form class="needs-validation" style="top: 50%; left: 50%;" novalidate>

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip03">Nombre del Evento: </label>
                            @Html.TextBoxFor(model => model.Nombre, new {
                               @class = "form-control",
                               type = "text"
                           })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger"})
                            
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip03"> Periodo: </label>
                            @Html.DropDownList("Periodo", (IEnumerable<SelectListItem>)ViewBag.Periodo, String.Empty, new
                            {
                            @class = "form-control",
                            type = "select"
                            })
                            @Html.ValidationMessageFor(model => model.Periodo, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationTooltip03">Fecha Sesión: </label>
                            @Html.TextBoxFor(model => model.Fecha, new
                       {
                           @class = "form-control",
                           type = "date"
                       })
                            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationTooltip03">Hora Inicio: </label>
                            @Html.TextBoxFor(model => model.TiempoInicial, new
                       {
                           @class = "form-control",
                           type = "time"
                       })
                            @Html.ValidationMessageFor(model => model.TiempoInicial, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationTooltip03">Hora Fin: </label>
                            @Html.TextBoxFor(model => model.TiempoFinal, new
                       {
                           @class = "form-control",
                           type = "time"
                       })
                            @Html.ValidationMessageFor(model => model.TiempoFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">

                            <label for="validationTooltip03">Nombre de la hoja del padrón: </label>
                            @Html.TextBoxFor(model => model.NombrePadron, new
                       {
                           @class = "form-control",
                           type = "text"
                       })
                       @Html.ValidationMessageFor(model => model.NombrePadron, "", new { @class = "text-danger" })<br />
                            <label for="validationTooltip03">Archivo que contiene el padrón: </label><br />
                            @Html.TextBoxFor(model => model.ArchivoPadron, new { type = "file" })
                            @Html.ValidationMessageFor(model => model.ArchivoPadron, "", new { @class = "text-danger" })<br />
                        </div>
                    </div>

                    <div class="container--header">
                        
                        @Html.RouteLink("Volver", "SesionesAIR", null, new { @class = "btn btn-secondary btn-back" })
                        
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>

                </form>
            }
        </div>

        <div class="footer--container">
        </div>
</body>

</html>